<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="cs_467_final_project.css" type="text/css">
</head>
<body>
	<h3 class="headerClass">Employee Recognition Users</h3>
	<div class="entryFormClass">
	<form action="/insert_admin" method="post" id="adminUserEntryForm">
		Create New Admin User:<br><p></p>
		Insert User Name:<br>
		<input type="text" name="adminUserName" id="adminUserName"><br><p></p>
		Insert User Email Address:<br>
		<input type="text" name="adminUserEmailAddress" id="adminUserEmailAddress"><br><p></p>
		Password:<br>
		<input type="password" name="adminUserPassword" id="adminUserPassword"> <br><p></p>
		<input type="submit" value="Add New Admin User" id="postAdminFormSubmit">
	</form><br>
	</div>
</body>
</html>