<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="cs_467_final_project.css" type="text/css">
</head>
<body>
	<h3 class="headerClass">Employee Recognition Users</h3>
	<div class="entryFormClass">
	<form action="/insert_user" method="post" id="userEntryForm">
		Create New User:<br><p></p>
		Insert First Name:<br>
		<input type="text" name="userFirstName" id="userFirstName"><br><p></p>
		Insert Last Name:<br>
		<input type="text" name="userLastName" id="userLastName"><br><p></p>
		Insert User Email Address:<br>
		<input type="text" name="userEmailAddress" id="userEmailAddress"><br><p></p>
		Password:<br>
		<input type="password" name="userPassword" id="userPassword"> <br><p></p>
		Insert Security Word:<br>
		<input type="text" name="userSecurityWord" id="userSecurityWord"><br><p></p>
		<input type="submit" value="Add New User" id="postFormSubmit">
	</form><br>
	</div>
</body>
</html>

