a {
	color: #550055 !important;
}
body{
	font-family: Vollkorn !important;
}

.headerBlock{
	/*background-color: #6f5499 !important;
	color: #ffffff;*/
	color: #655499 !important;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
.headerClass{
	/*margin-left:35%;*/
	text-align: center;
}
.homeButton{

	position: absolute;
	top: 0;
	right: 0;

}

.homePageClass{

	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;

}
.createUser{

	text-align: center;
}

.entryFormClass{

	text-align: center;
	align-items: center;
	align-content: center;
}
.reportingClass{

	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	vertical-align: center;
	align-content: center;

}

.iframe{
	margin:4%;
}
.homeButton{
	position: absolute !important;
	top: 0px !important;;
	left: 0px;
}
.logoutButton{

	position: absolute !important;
	top: 0px !important;
	right: 0px;
}
.loginForm{

	text-align: center;
}

.chart_div{
	margin:35%;
}
body {
	color: #550055;
}
td {
  		border: 2px solid black;
  	}

.selected {
  		border: 10px solid purple;
}





