<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="cs_467_final_project.css" type="text/css">
</head>
<body>
	<h3 class="headerClass">Employee Recognition Users</h3>
	<div class="homePageClass" >
		<p></p><p></p>
		<form action="/create_new_user" method="get" id="createNewUserForm">
		<input type="submit" value="Create New User" id="createNewUser"><br>
		</form>
		<form action="/create_new_admin_user" method="get" id="createNewAdminUserForm">
		<input type="submit" value="Create New Admin User" id="createNewAdminUser"><br>
		</form>
	</div>