<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="cs_467_final_project.css" type="text/css">
</head>
<body>
	
	<div class="reportingClass">
	<h3 class="reportingClass">Run Reports</h3>
		<p></p><p></p>
		<form action="/list_admin_users_reporting" method="get" id="viewAllAdminUsersForm">
		<input type="submit" value="View All Admin Users" id="allAdminUsers"><br>
		</form>
		<form action="/list_users_reporting" method="get" id="viewUsersForm">
		<input type="submit" value="View All Non Admin Users" id="allAdminUsers"><br>
		</form>
		<form action="/list_awards" method="get" id="viewAllAwardsCreatedForm">
		<input type="submit" value="View All Awards Created" id="allAwardsCreated"><br>
		</form>
	</div>